<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Lista de Alunos</a>
  </li>
</ul>

<div class="container">

  <p class="h1">Agenda</p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">RU</th>
        <th scope="col">Curso</th>
        <th scope="col">Data Nascimento</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let aluno of listaAlunos"> <!-- Criando o ngFor para interar a lista de alunos -->
        <td>{{aluno.Nome}}</td>
        <td>{{aluno.RU}}</td>
        <td>{{aluno.Curso}}</td>
        <td>{{aluno.DataNascimento}}</td>
    </tr>

    </tbody>
  </table>
  
</div>
